.popup__input {
    width: 358px;
    margin: 0 36px 30px;
    padding: 0 0 13px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-rendering: optimizeLegibility;
}

.popup__input:last-of-type {
    margin-bottom: 48px;
}

@media screen and (max-width: 725px) {
    .popup__input {
        width: 238px;
        margin: 0 22px 30px;
    }

    .popup__input:last-of-type {
        margin-bottom: 45px;
    }
}