.cards__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 17px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 725px) {
    .cards__list {
        display: block;
        max-width: 282px;
        padding-top: 36px;
        margin: 0 auto;
    }
}