.cards__item {
    list-style: none;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin: 0;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 725px) {
    .cards__item {
        margin-bottom: 20px;
    }

    .cards__item:last-of-type {
        margin-bottom: 0;
    }
}