.card__delete {
    background-image: url(../../../images/delete.svg);
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    width: 18px;
    height: 19px;
    padding: 0;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: opacity 0.2s ease;
}

.card__delete:hover {
    opacity: .6;
}