.popup__button-close {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close-button.svg);
    background-size: cover;
    background-color: transparent;
    padding: 0;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
    transition: opacity .2s ease;
    cursor: pointer;
}

.popup__button-close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 725px) {
    .popup__button-close {
        width: 20px;
        height: 20px;
        right: 0;
        top: -30px;
    }
}