.card__like {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like_white.jpg);
    background-size: cover;
    padding: 0;
    border: none;
    margin-right: 20px;
}

.card__like:hover {
    opacity: 0.5;
}

.card__like:active {
    background-image: url(../../../images/like_black.jpg);
    background-size: cover;
}