.card__like {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like-disabled.svg);
    background-size: cover;
    background-color: #FFFFFF;
    padding: 0;
    border: none;
    margin-right: 20px;
    transition: opacity 0.2s ease;
}

.card__like:hover {
    opacity: 0.5;
}

.card__like:active {
    background-image: url(../../../images/like__active.svg);
    background-size: cover;
    background-color: #FFFFFF;
    opacity: 1;
}